---
layout: default
title: Downloads
permalink: /downloads/
---
<h1 class="page-title">Downloads</h1>

<ul class="downloads">
{%- for project in site.data.github.projects %}
  {%- if project.downloads.size > 0 %}
  <li class="card download">
    {% include icon.html project=project px=40 %}
    <div class="download-text">
      <h2><a href="{{ project.page | relative_url }}">{{ project.name | escape }}</a></h2>
      {% include release.html project=project %}
    </div>
    {% include download-buttons.html project=project %}
  </li>
  {%- endif %}
{%- endfor %}
</ul>
