---
layout: default
title: Projects
permalink: /projects/
---
<h1 class="page-title">Projects</h1>

<div class="project-grid">
{%- for project in site.data.github.projects %}
  <article class="card project-card">
    {%- assign shot = project.screenshot %}
    {%- if shot %}
    <div class="card-shot">
      <img src="{{ shot.thumb | default: shot.src | relative_url }}" alt="" width="{{ shot.width }}" height="{{ shot.height }}" loading="lazy" decoding="async">
    </div>
    {%- endif %}
    <div class="card-body">
      <div class="head">
        {% include icon.html project=project %}
        <div>
          <h2><a class="card-link" href="{{ project.page | relative_url }}">{{ project.name | escape }}</a></h2>
          {% include release.html project=project %}
        </div>
      </div>
      {%- if project.description != "" %}
      <p class="description">{{ project.description | escape }}</p>
      {%- endif %}
      {% include chips.html project=project %}
      {% include links.html project=project %}
    </div>
  </article>
{%- endfor %}
</div>
